<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adrian Dobre: https://codeberg.org/adriand">
    <meta name="description" content="Title of the project">
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- <script src="./bundle.js" defer></script> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div class="app"></div>
</body>
</html>
